<!DOCTYPE html>
<html lang="en" xmlns:th="//www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- CSS Sheet-->
    <link rel="stylesheet" href="style.css">

    <title>Beitrag</title>
</head>

<body style="font-family: 'Arial'">

<!--Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/home}">Home <span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!--- Welcome Section -->
<div class="container-fluid padding">
    <div class="row welcome text-center">
        <div class="col-12">
            <h1 class="display-4" th:text="${article.title}"></h1>
        </div>
        <hr>
        <div class="col-12">
            <p class="lead" th:text="${article.text}"></p>
            <span th:if="${sessionUser.admin}">
                <form method="get" th:action="@{/article/{id}/edit(id=${article.id})}" th:object="${article}">
                <button class="btn btn-dark btn-lg" th:text="edit" type="submit"></button>
                </form>
                <form method="post" th:action="@{/article/{id}/deleteall(id=${article.id})}" th:object="${article}">
                <button class="btn btn-dark btn-lg" th:text="delete" type="submit"></button>
                </form>
            </span>
        </div>
        <div class="col-12">
            <h4 class="display-6">Kommentare zum Beitrag</h4>
            <ul class="list-group">
                <li class="list-group-item" th:each="k : ${kommentare}">
                    <span th:text="${k.user.username}"></span>
                    <span> posted at </span>
                    <span th:text="${#dates.format(k.date)}"></span>
                    <p th:text="${k.text}"></p>
                    <span th:if="${sessionUser == k.user|| sessionUser.admin}">
                    <form method="post"
                          th:action="@{/article/{id}/{kommentarId}/delete(id=${article.id}, kommentarId=${k.id})}"
                          th:object="${kommentar}">
                    <button class="btn btn-dark btn-lg" th:text="delete" type="submit">Lösche Kommentar</button>
                    </form>
                    </span>
                </li>
            </ul>
        </div>
        <div class="col-12">
            <h4 class="display-6">Kommentar schreiben</h4>
        </div>
        <hr>
        <div class="col-12">
            <form method="post" th:action="@{/article/{id}/kommentar(id=${article.id})}" th:object="${kommentar}">
                <input th:field="*{text}" type="text"></input>
                <p th:errors="*{text}" th:if="${#fields.hasErrors('text')}"></p>
                <br>
                <button class="btn btn-dark btn-lg" type="submit">Abschicken</button>
            </form>
            </span>
        </div>
        <div class="col-12">
            <a class="btn btn-dark btn-lg" th:href="@{/home}" role="button">Zurück zur Übersicht</a>
        </div>
    </div>
</div>


<!--- Footer -->
<footer>
    <div class="container-fluid padding">
        <div class="row text-center">
            <div class="col-12">
                <p>55555-555555</p>
                <p>email@mail.de</p>
                <p>Wo-Der-Pfeffer-Wächst 101</p>
                <p>00000 Am A der Welt</p>
            </div>
            <div class="col-12">
                <hr class="light">
                <h6>&copy;namenloser-blog.de</h6>
            </div>
        </div>
    </div>
</footer>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>